/* reset */
body{
    box-sizing:border-box; margin: 0; border: 0; padding: 0;
}
a {
    text-decoration: none; text-transform: lowercase;
    color:#3C2F80; 
}
a:hover {
    color: #AEE8CA;
}
a:visited {
    color: #FF7213; 
}
/* Fonts */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #3C2F80;
}
.image_container{
    margin:3px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-flow: row wrap;
}
.image_item{
    margin:3px;
    padding: 3px;
    flex: 1 1 120px;
}
.header{
    margin:3px;
    padding:3px;
    font-style: italic;
}
.caption{
    max-width: 120px;
    max-height: 5px;
}
.footer{
    position:fixed;
    bottom: 0px;
}