<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Search</title>
</head>
<body>
	<header class="navigation">
		<nav class="nav_item"><a href="{{url_for('guide')}}" class="nav_link">Guide</a></nav>
		<nav class="nav_item"><a href="{{url_for('homepage')}}" class="nav_link">Home</a></nav>
	</header>
    <section class="search_image">
        <figure>
            <img src="{{url_for('static', filename='images/search_logo.png')}}" alt="A logo" width="300">
        </figure>
    </section>

    <section class="form">
        <form action="{{ url_for('query') }}" method="post" class="user_query">
            <fieldset>
                <legend>Search</legend>
                {{ form.csrf_token }}
                {{ form.search.label}} {{ form.search }}
                {{ form.content.label }} {{form.content }}
                {{ form.submit }}
            </fieldset>

        </form>

    </section>
</body>
</html>
