<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/story.css')}}">
</head>
<body>
    <header>
        <nav><a href="{{url_for('homepage')}}" class="home">Home</a></nav>
    </header>
    <article>
        <h1>Why this project?</h1>
        <p>The authors of this project decided to build a recomendation system that should recommend materials to people desiring to learn software related concepts. The decision was made due to the personal challenges the authors faced in thier own learning journey in ALX Software engineering Program. One of such challenges is information overload. This refers to being overwhelmed due to the enermous amount of information in the public domain on a particular concept. Hence this project was designed to only recommend ten suitable and relevant material.</p>
    </article>
</body>
</html>